<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz Results</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/quizresults.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/Logo.jpg') }}"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="navbar">
      <img
        src="{{ url_for('static', filename='images/Logo.jpg') }}"
        alt="Logo"
      />
      <nav>
        <ul role="list">
          <li>
            <a href="{{ url_for('home') }}">HOME</a>
          </li>
          <li>
            <a href="{{ url_for('home') }}#features">FEATURES</a>
          </li>
          <li><a href="{{ url_for('home') }}#find-us">FIND US</a></li>
          <li><a href="{{ url_for('subject')}}">QUIZ</a></li>
        </ul>
      </nav>
      <button class="btn btn-nav">LOGIN</button>
    </div>
    <div class="result">
      <div class="content">
        <h1>Quiz Results</h1>
        <h2>Your Score: {{ score }}/{{ total_questions }}</h2>
        {% if score >= 80 %}
        <p>🎉 Congratulations! You passed the quiz.</p>
        {% else %}
        <p>😞 Sorry, you didn't pass the quiz. Try again!</p>
        {% endif %}

        <h3>Performance Over Time</h3>
        <img
          src="data:image/png;base64,{{ img_url }}"
          alt="Performance Graph"
          style="
            margin-left: 29%;
            max-width: 100%;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          "
        />

        <a href="{{ url_for('home') }}" class="btn-nav">Back to Home</a>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-grid">
        <div class="footer-content">
          <h2>
            Learn smarter with AI-driven insights, personalized topic
            recommendations, and instant doubt resolution—perfect for exam prep
            or expanding your knowledge.
          </h2>
        </div>
        <div class="footer-list">
          <h3>About</h3>
          <ul role="list">
            <li>News</li>
            <li>Impact</li>
            <li>Our team</li>
            <li>Our finances</li>
            <li>Careers</li>
            <li>Internships</li>
            <li>Cookie Preferences</li>
          </ul>
        </div>
        <div class="footer-list">
          <h3>Contact</h3>
          <ul role="list">
            <li>Help center</li>
            <li>Support community</li>
            <li>Share your story</li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
